<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="chats"></div>
    <div id="voice"></div>

    <script>
        const SpeechRecognition = window.speechRecognition || window.webkitSpeechRecognition;

        if (!SpeechRecognition) {
            console.log("Speech recognition not suppported!");
        } else {
            const r = new SpeechRecognition()
            r.continuous = false;
            r.interimResults = false;
            r.maxAlternatives = 1;

            r.addEventListener("start", () => {
                console.log("Speech is recognized!")
            })
            r.addEventListener("result", (e) => {
                const transcript = e.results[0][0].transcript;
                console.log(transcript);
                callGemini(transcript);
            })
            r.start();
        }

        async function callGemini(text) {
            try {
                const res = await fetch("/info", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ text })
                });

                if (res.ok) {
                    const data = await res.json();
                    createChat(data.reply);
                    <!-- createVoice(data.url); -->
                    console.log(data.reply)
                    console.log("It is ok")
                } else {
                    console.log("Some error occured!");
                }
            } catch (err) {
                console.log("Error:", err);
            }
        }

        function createChat(reply) {
            const container = document.getElementById("chats");
            let div = document.createElement('div');
            div.innerText = reply;
            container.append(div)
        }

        async function createVoice(text) {
            let voice = document.getElementById("voice");
            voice.innerHTML = 
            `<audio controls autoplay>
                <source src="data:audio/mpeg;base64,${text}" type="audio/mpeg">
            </audio>`
        }

    </script>
</body>

</html>